*{
    position: relative;
}
.controls{
    position:absolute;
    top:0px;
    margin: 5px;
    padding:5px;
    float: left;
    padding:10px;
}
#antialias{
    top:15px;
}
.simulationSpeedSlider{
    top:20px;
}
#simulSlider{
    top: 5px;
    left: 10px;
}
.colorpickers{
    top:25px;
}
.rotation{
    left: -58%;
    top: 30px;
}
#canvas-particle-color{
    float:left;
    top:-35px;
    left:105px;
}
